@model Car

@{

}

<div>
    <h2>Detalle del Vehiculo @Model.Id</h2>
</div>
<div>
    <h3>@Html.DisplayNameFor(model => model.Make)</h3>
    <p>@Model.Make</p>
</div>
<div>
    <h3>@Html.DisplayNameFor(model => model.Model)</h3>
    <p>@Model.Model</p>
</div>
<div>
    <h3>@Html.DisplayNameFor(model => model.Year)</h3>
    <p>@Model.Year</p>
</div>
<div>
    <h3>@Html.DisplayNameFor(model => model.Plate)</h3>
    <p>@Model.Plate</p>
</div>
<div>
    <h3>@Html.DisplayNameFor(model => model.color)</h3>
    <p>@Model.color</p>
</div>

<a asp-action="Index" class="btn btn-info">Volver</a>